<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="main-body">
      <div class="flex-container">
        <div class="flex-container f-start">
          <div>
            <img src="kflogo.png" alt="Konfinity logo" height="20px;" />
          </div>
          <div>
            <a href="/">Konfinity Forums</a>
          </div>
        </div>
        <div class="flex-container f-end">
          <div><a href=""><%=name%></a></div>
          <div><a href="/signout">Signout</a></div>
        </div>
      </div>

      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head"><%=name%></div>
            <div>
              <%=postdata.data%>
            </div>
            <div class="flex-container f-com">
              <div>
                <form method="post" action="/like" id="like"></form>
                <button form="like" class="com-btn" value="<%=postdata._id%>" name="like" type="submit">
                  <i class="fas fa-thumbs-up"></i> <%=postdata.likes%>
                </button>
              </div>
              <div>
                <form method="post" action="/dislike" id="dislike"></form>
                <button form="dislike" class="com-btn" value="<%=postdata._id%>" name="dislike" type="submit">
                  <i class="fas fa-thumbs-down"></i> <%=postdata.dislikes%>
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> <%=postdata.comments%>
                </button>
              </div>
            </div>
            <form id="commentform" method="POST" action="/comment"></form>
            <div class="flex-container f-vert f-comsec">
              <div class="grid-container">
                <div class="grid-item-input">
                  <input type="text" name="comdata" form="commentform" placeholder="Write a comment"/>
                </div>
                <div class="grid-item-btn">
                  <input
                    type="submit"
                    value="Add Comment"
                    class="comment-btn"
                    form="commentform"
                  />
                </div>
              </div>

              <%for(var j=0; j<comments.length; j++){%>
              <div><strong><%=comments[j].user_name%></strong>: <%=comments[j].data%></div>
              <%}%>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>Konfinity Infotech Private Limited</footer>
</html>
 