<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="main-body">
      <div class="flex-container">
        <div class="flex-container f-start">
          <div>
            <img src="kflogo.png" alt="Konfinity logo" height="20px;" />
          </div>
          <div>
            <a href="/">Konfinity Forums</a>
          </div>
        </div>
        <div class="flex-container f-end">
          <div><a href=""><%=name%></a></div>
          <div><a href="/signout">Signout</a></div>
        </div>
      </div>
      <div class="flex-container f-med">
        <div>
          Latest Forums
        </div>
        <div>
          <button
            type="button"
            class="black-btn"
            onclick="window.location.href = '/addforum';"
          >
            <i class="fas fa-plus"></i> New-Forum
          </button>
        </div>
      </div>

      <% for (var i = forumdata.length-1 ; i>=0; i--){%>

      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head"><%=forumdata[i].user_name%></div>
            <div><%=forumdata[i].data%></div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> <%=forumdata[i].likes%>
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> <%=forumdata[i].dislikes%>
                </button>
              </div>
              <div>
                <form method="get" action="/comment" id="show_comments"></form>
                <button
                  form="show_comments"
                  class="com-btn"
                  name="pid"
                  value="<%=forumdata[i]._id%>"
                  type="submit"
                >
                  <i class="fas fa-comment"></i> <%=forumdata[i].comments%>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%}%>

      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head">Anubhav</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
              repudiandae enim commodi et ipsam quis tenetur sequi amet ex
              ducimus rerum atque, suscipit voluptatum saepe neque fuga a? Non,
              molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat, repudiandae enim commodi et ipsam quis tenetur sequi
              amet ex ducimus rerum atque, suscipit voluptatum saepe neque fuga
              a? Non, molestias?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Repellat, repudiandae enim commodi et ipsam quis
              tenetur sequi amet ex ducimus rerum atque, suscipit voluptatum
              saepe neque fuga a? Non, molestias?Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Repellat, repudiandae enim commodi
              et ipsam quis tenetur sequi amet ex ducimus rerum atque, suscipit
              voluptatum saepe neque fuga a? Non, molestias?Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Repellat, repudiandae enim
              commodi et ipsam quis tenetur sequi amet ex ducimus rerum atque,
              suscipit voluptatum saepe neque fuga a? Non, molestias?Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Repellat, repudiandae
              enim commodi et ipsam quis tenetur sequi amet ex ducimus rerum
              atque, suscipit voluptatum saepe neque fuga a? Non, molestias?
            </div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> 110
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> 3
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> 43
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head">Aayush</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
              repudiandae enim commodi et ipsam quis tenetur sequi amet ex
              ducimus rerum atque, suscipit voluptatum saepe neque fuga a? Non,
              molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat, repudiandae enim commodi et ipsam quis tenetur sequi
              amet ex ducimus rerum atque, suscipit voluptatum saepe neque fuga
              a? Non, molestias?
            </div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> 11
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> 387
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> 4
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head">Mayank</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
              repudiandae enim commodi et ipsam quis tenetur sequi amet ex
              ducimus rerum atque, suscipit voluptatum saepe neque fuga a? Non,
              molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat, repudiandae enim commodi et ipsam quis tenetur sequi
              amet ex ducimus rerum atque, suscipit voluptatum saepe neque fuga
              a? Non, molestias?
            </div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> 39
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> 126
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> 198
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head">Vaishnavi</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
              repudiandae enim commodi et ipsam quis tenetur sequi amet ex
              ducimus rerum atque, suscipit voluptatum saepe neque fuga a? Non,
              molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat, repudiandae enim commodi et ipsam quis tenetur sequi
              amet ex ducimus rerum atque, suscipit voluptatum saepe neque fuga
              a? Non, molestias? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Repellat, repudiandae enim commodi et ipsam quis
              tenetur sequi amet ex ducimus rerum atque, suscipit voluptatum
              saepe neque fuga a? Non, molestias?Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Repellat, repudiandae enim commodi
              et ipsam quis tenetur sequi amet ex ducimus rerum atque, suscipit
              voluptatum saepe neque fuga a? Non, molestias?
            </div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> 23
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> 1
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> 18
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-body">
        <div class="flex-container f-box">
          <div class="flex-container f-vert">
            <div class="f-head">Swapnil</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
              repudiandae enim commodi et ipsam quis tenetur sequi amet ex
              ducimus rerum atque, suscipit voluptatum saepe neque fuga a? Non,
              molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat, repudiandae enim commodi et ipsam quis tenetur sequi
              amet ex ducimus rerum atque, suscipit voluptatum saepe neque fuga
              a? Non, molestias?
            </div>
            <div class="flex-container f-com">
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-up"></i> 3
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-thumbs-down"></i> 56
                </button>
              </div>
              <div>
                <button class="com-btn">
                  <i class="fas fa-comment"></i> 1908
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>Konfinity Infotech Private Limited</footer>
  </body>
</html>
