<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Blogs</title>
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Ma+Shan+Zheng&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="index-body">
    <div class="content">
      <header>
        <div>
          <a href="/">Chorus Forums</a>
        </div>
        <nav>
          <a href="#" class="hide-desktop">
            <i class="fas fa-bars" id="menu"></i>
          </a>
          <ul class="show-desktop hide-mobile" id="nav">
            <li id="exit" class="exit-btn hide-desktop">
              <button><i class="far fa-times-circle"></i></button>
            </li>
            <li><a href="/profile">Hello <%=name%>!</a></li>
            <li><a href="/addforum">Post a new Forum</a></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
        </nav>
      </header>
      <div class="content-container">
        <div class="forum-box">
          <div class="profile">
            <img src="<%=image_url%>" alt="profileimage" class="profileimage" />
            <div class="profilename"><%=name%></div>
            <div class="profilemail"><%=email%></div>
            <form
              action="/dp"
              method="post"
              enctype="multipart/form-data"
              class="dpform"
              id="dp"
            ></form>
            <div>
              <label form="dp" for="file-upload" class="custom-file-upload">
                Choose Profile Pic
              </label>
              <input
                form="dp"
                id="file-upload"
                type="file"
                name="image"
                class="selection"
                required
              />
            </div>
            <div>
              <input form="dp" class="upload" type="submit" value="UPLOAD" />
            </div>
          </div>
        </div>
      </div>
      <div class="content-heading">
        Forums by You
      </div>
      <div class="content-container">
        <form method="get" action="/comment" id="show_comments"></form>
        <form method="get" action="/editforum" id="edit_forum"></form>
        <% for (var i = forumdata.length-1 ; i>=0; i--){%>
        <a href="/comment?pid=<%=forumdata[i]._id%>" class="phone-only">
          <div class="forum-card">
            <div class="dp-container">
              <img
                src="<%=forumdata[i].user_id.profileimage.url%>"
                alt=""
                class="dp"
              />
            </div>
            <div class="forum-container">
              <div class="forum-head">
                <%=forumdata[i].heading%>
              </div>
              <div class="forum-poster">
                By <%=forumdata[i].user_id.name%> -
                <span class="forum-email"><%=forumdata[i].user_id.email%></span>
              </div>
              <div class="forum-details">
                <button
                  class="forum-data-button"
                  form="show_comments"
                  name="pid"
                  value="<%=forumdata[i]._id%>"
                  type="submit"
                >
                  Read Full Story
                </button>
              </div>
              <div class="edit">
                <button
                  form="edit_forum"
                  class="forum-data-edit-btn"
                  name="pid"
                  value="<%=forumdata[i]._id%>"
                  type="submit"
                >
                  <i class="far fa-edit"></i></button
                ><button
                  form="edit_forum"
                  class="forum-data-edit-btn"
                  name="pid"
                  value="<%=forumdata[i]._id%>"
                  type="submit"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </a>

        <%}%>
      </div>
    </div>
    <footer>
      Developed with <i class="fas fa-heart"></i> by
      <a href="https://github.com/annubv" target="_blank"> Anubhav</a>
    </footer>
    <script>
      var menu = document.getElementById("menu");
      var nav = document.getElementById("nav");
      var exit = document.getElementById("exit");
      menu.addEventListener("click", e => {
        nav.classList.toggle("hide-mobile");
        e.preventDefault();
      });
      exit.addEventListener("click", e => {
        nav.classList.toggle("hide-mobile");
        e.preventDefault();
      });
      function blog(i) {
        window.location = "/blog?id=" + i;
      }
    </script>
  </body>
</html>
